:root{
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;
    --font: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
        Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neu Helvetica",
        "Arial", sans-serif;
}

header, section{
    width: 960px;
    margin: 0 auto;
    display: flex;
}

header{
    background-color: var(--nord0);
    color: var(--nord6);
    padding-top: 16px;
    padding-left: 16px;
}


article{
    width: 70%;
}

img{
    width: 250px; 
    height: 250px;
    margin-right: 16px;
}

a, a:link, a:visited{
    text-decoration: none;
    color: var(--nord2);
    font-weight: bold;
}

progress{
    margin-left: 8px;
}

.flex{
    display: flex;
}

body{
    font-family: var(--font);
    color: var(--nord1);
}

